.jumbotron {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  height: 85vh;
  padding-top: 10%;
  border-radius: 0;
}

.nav-item {
  line-height: 45px;
}

.dropdown {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 155px;
  height: 65vh;
}

.lead input-group {
  width: 100px;
}

.img-section, .text-section {
  height: 65vh;
}

.text-section {
  padding-top: 10%;
}

.img-section {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#img2 {
  background-image: url(../images/bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#img3 {
  background-image: url(../images/bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#img4 {
  background-image: url(../images/bg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom {
  background-color: black;
  color: grey;
  padding: 0 5%;
  /*font-size: 15px;*/
}

#nondecor {
  text-decoration: none;
}
