.jumbotron {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  height: 85vh;
  padding-top: 10%;
  border-radius: 0;
}

.nav-item {
  line-height: 45px;
}

.dropdown {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15px;
  height: 45vh;
}

.lead input-group {
  width: 100px;
}
